.btn-approve{
    background: #24ab62;
}
.btn-decline{
    background: #ef2525;
}
.btn-action, .btn-action:hover {
    color: #fff;
    padding: 10px 8px;
    border-radius: 5px;
    text-decoration: none;
}
.actionholder {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}
.btn-action i {
    padding: 5px;
}